.report-h2 {
    margin-top: 24px;
    margin-left: 24px;
    font-size: 21px;
}
.color-reports {
    background: #ffffff;
    border: solid #f1f1f1 1px;
}
.conteint-reports {
    margin-top: 52px;
    margin-left: 40px;
    width: 1000px;
    height: 500px;
}
.content-la{
    display: block;
    background-color: #EFF3FD;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 12px;
    font-size: 21px;
}
.content-la img {
    height: 24px;
    width: 24px;
}
.content-la button {
    position: relative;
    left: 45px;
    outline: none;
    border: none;
    top: 6px;
    left: 66%;
}

