:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  margin: 0 auto;
  background: #f1f1f1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 1307px;
  top: 123px;
  left: 0px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 60px;
  position: relative;
  width: 270px;
  margin: 45px 0 0 16px;
  z-index: 113;
}

.box-2 {
  flex-shrink: 0;
  position: relative;
  width: 254px;
  height: 59px;
  z-index: 116;
}


.leftNav{

width:100px;
height:200px;

}

.Button {
  position: absolute;
  width: 100%;
  height: 91.53%;
  top: -0.85%;
  left: 0;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: 100% 100%;
  border: none;
  z-index: 117;
}
.wrapper-2 {
  display: flex;
}
.wrapper-3 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 119;
}


.box-3 {
  flex-shrink: 0;
  position: relative;
  width: 254px;
  height: 59px;
  z-index: 122;
}
.Button-2 {
  position: absolute;
  width: 100%;
  height: 91.53%;
  top: -0.85%;
  left: 0;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: 100% 100%;
  border: none;
  z-index: 123;
}
.box-4 {
  display: flex;

}
.box-5 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 125;
}


.group {
  flex-shrink: 0;
  position: relative;
  width: 254px;
  height: 59px;
  z-index: 128;
}
.Button-3 {
  position: absolute;
  width: 100%;
  height: 91.53%;
  top: -0.85%;
  left: 0;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: 100% 100%;
  border: none;
  z-index: 129;
}
.section-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  height: 45px;
  top: 14.41%;
  left: 8.66%;
  z-index: 130;
}

.text-4 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 159px;
  height: 24px;
  color: #102e7a;
  font-family: Plus Jakarta Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: justified;
  white-space: nowrap;
  letter-spacing: -0.32px;
  z-index: 132;
}
.wrapper-4 {
  flex-shrink: 0;
  position: relative;
  width: 254px;
  height: 59px;
  z-index: 133;
}
.Button-4 {
  position: absolute;
  width: 100%;
  height: 91.53%;
  top: -0.85%;
  left: 0;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: 100% 100%;
  border: none;
  z-index: 134;
}
.wrapper-5 {
  display: flex;
}
.wrapper-6 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 136;
}

.text-5 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 69px;
  height: 24px;
  color: #102e7a;
  font-family: Plus Jakarta Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: justified;
  white-space: nowrap;
  letter-spacing: -0.32px;
  z-index: 138;
}
.section-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 264px;
  z-index: 139;
}
.box-6 /* */{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 257px;
  height: 29px;
  z-index: 140;
  margin-top: 30px;
  margin-bottom: 30px;
}

.margen-nav {
  margin-top: 70px;
}

.flex-column-a {
  position: absolute;
  height: 664px;
  top: 1px;
  width: 100%;
  right: 311px;
  left: 286px;
  z-index: 74;
}


/* */

.login-form
{
  width: 317px;
  height: 340px;
}

.loginError {
  color: red; /* Red text for the error message */
  margin-top: 10px; /* Space between the button and the error message */
  text-align: center; /* Center the error message */
}