* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1; /* Puedes cambiar el color de fondo según tus preferencias */
}

#main-container {
    position: absolute;
    width: 100%;
    height: 124px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(195, 212, 233, 0.4);
}

#logo {
    position: absolute;
    width: 148px;
    height: 44px;
    left: 60px;
    top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #3563E9;
}

#profile-notification {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 172px;
    height: 44px;
    right: 96px;
    top: 40px;
}

.notification,
.settings,
.profil {
    display: flex;
    align-items: center;
    background-color: #fff; /* Puedes cambiar el color de fondo según tus preferencias */
}

.notification {
    order: 0;
}

.settings {
    order: 1;
}

.profil {
    order: 2;
}